@import "colors.scss";

.word-ladder {
  overflow-y: auto;

  &__item {
    margin-bottom: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}